*{
  font-family: robo ;
}

.container{
  display: grid;
  grid-template-columns: 300px 1.5fr 1fr;
  border: 10px;
}
.twitter-logo{
  width: 50px;
  height: 50px;
  padding-left: 20px;
}
.buttons{
  padding-top: 30px;
}
.homeBtn , .notifBtn , .msgBtn , .bmBtn , .listsBtn , .profileBtn , .moreBtn{
  height: 50px;
  width: 125px;
  font-size: 20px;
  margin-bottom: 10px;
  padding-left: 10px ;
  text-align: left;
  border-radius: 18px;
  border:none;
  background-color: #fff;
  cursor: pointer;
  margin-left: 18px;
}
.homeBtn:hover , .notifBtn:hover , .msgBtn:hover , .bmBtn:hover , .listsBtn:hover , .profileBtn:hover , .moreBtn:hover{
  background-color: #e6ecf0;
}

.tweetBtn{
  background-color: rgb(2, 158, 255);
    color: white;
    border: none;
    height: 36px;
    width: 74px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 20px;
    cursor: pointer;
    margin-top: 10px;
}
.tweetBtn:hover {
  background-color: rgb(26, 157, 204);
}

.search{
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;
  border-radius: 25px;
  background-color: #EAEAEA;
  border: none;
  width: 90%;
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 15px;
}
.profile-pic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
}

.profile-picc{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 20px;
}

.user-tweet{
  display: grid;
  grid-template-columns: 50px 1fr;
  height: 80px;
  width: auto;
  margin-bottom: 10px;
  margin-top: 20px;
  border-bottom: 1px solid #EAEAEA;
}
.tweet-input{
  border: none;
  outline: none;
  padding-left: 25px;
  padding-bottom: 50px;
  font-size: 25px;
  border-bottom: 1px solid #EAEAEA;
}

.who-to-follow , .recent{
  border-radius: 25px;
  background-color: #EAEAEA;
  border: none;
  height: 45%;
  width: 90%;
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 15px;
  padding-left: 20px;
  font-weight: bold;
}
.feed{
  border-left: 1px solid #EDEDED ;
  border-right: 1px solid #EDEDED;
  padding-left: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
}
 
 .tweet, .user-name{
  padding-top: 0;
  padding-left: 10px;
  font-size: 20px;
  margin-bottom: 10px;
 }
 .tweet{
  font-size: 15px;
  margin-bottom: 0;
 }
 .user-name{
  font-size: 15px;
  margin-bottom: 0;
 }
 .tweet-info{
  margin-top: 0;
  padding-top: 0;
  padding-left: 10px;
  font-size: 15px;
 }
 
.trend-genre{
  font-size: 16px;
  font-weight:lighter;
  margin-bottom: 0;
  padding-left: 0px;
  margin-top: 20px;
}
 .trends{
  margin-top: 0px;
  font-size: 25px;
  font-weight: lighter;;
 }

 .trend-stats{
  margin-top: 0;
  font-size: 18px;
  font-weight: lighter;
  color:grey;
 }
 
.to-be-followed{
  display: grid;
  grid-template-columns: 50px 50px 1fr;
}
 .profile-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 30px;
 }
 .follow-info{
  font-size: 30px;
 }
 .followBtn{
  background-color: black;
  color: white;
  border: none;
  height: 36px;
  width: 74px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  margin-left: 60%;
  cursor: pointer;
  margin-top: 28px;
 }

 .follow-info{
  font-size: 23px;
  font-weight: lighter;
  color: grey;
  margin-bottom: 0;
  margin-left: 20px;
  margin-top: 30px;
 }
 .account{
  font-size: 16px;
  font-weight: lighter;
  color: grey;
  margin-bottom: 0;
  margin-left: 20px;
  margin-top: 3px;
 }